@model BookSales.Data.Models.BookViewModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Enquire</title>
</head>
<body>
    <div>
        Thank you for your enquiry about @Html.ActionLink(@Model.Title + " by " + @Model.Author, "Detail", new { bookID = @Model.BookID }).
	
		The request has been forwarded to the seller.
    </div>
</body>
</html>
