@{
	Layout = "~/Views/Shared/_Layout.cshtml";	
	@model List<BookSales.Data.Models.BookListModel>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div>
		<table>
			<tr><td>Title</td><td>Author</td><td>Price</td></tr>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Title</td>
					<td>@item.Author</td>
					<td>@item.Price.PriceAmount</td>
					<td>@Html.ActionLink("View", "Detail", new { bookID = item.BookID })</td>
				</tr>
			}
		</table>
    </div>
</body>
</html>

