@{
	Layout = "~/Views/Shared/_Layout.cshtml";	
	@model List<CarSales.Data.Models.CarListModel>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div>
		<table>
			<tr><td>Make</td><td>Model</td><td>Price</td></tr>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Make</td>
					<td>@item.Model</td>
					<td>@item.Price.PriceAmount</td>
					<td>@Html.ActionLink("View", "Detail", new { id = item.CarID })</td>
				</tr>
			}
		</table>
    </div>
</body>
</html>
