@{
    Layout = null;
	@model CarSales.Data.Models.CarViewModel
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>

	@Html.DisplayForModel()

</body>
</html>
