@model List<BookSales.Data.Models.EnquiryListModel>

@{
    ViewBag.Title = "List";
}

<h2>All enquiries</h2>

<table>
	<tr><td>Name</td><td>Email</td><td>BookID</td></tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Name</td>
			<td>@item.Email</td>
			<td>@Html.ActionLink(@item.BookID.ToString(), "Detail", "Books", new { bookID = item.BookID }, null)</td>
		</tr>
	}
</table>

