@model List<CarSales.Data.Models.EnquiryListModel>

@{
    ViewBag.Title = "List";
}

<h2>All enquiries</h2>

<table>
	<tr><td>Name</td><td>Email</td><td>CarID</td></tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Name</td>
			<td>@item.Email</td>
			<td>@Html.ActionLink(@item.CarID.ToString(), "Detail", "Cars", new { carID = item.CarID }, null)</td>
		</tr>
	}
</table>

